@model Group

<div>
    <h5>Please Fill Out This Form to Reserve a Tour</h5>
    <br />
</div>
<form method="post" asp-controller="Home" asp-action="Index">
    <div>
        <label asp-for="Name">Group Name: </label>
        <input asp-for="Name" required />
    </div>
    <br />
    <div>
        <label asp-for="Size">Size: </label>
        <input asp-for="Size" required />
    </div>
    <br />
    <div>
        <label asp-for="Email">Email: </label>
        <input asp-for="Email" required />
    </div>
    <br />
    <div>
        <label asp-for="Phone">Phone: </label>
        <input asp-for="Phone" />
    </div>
    <br />
    <input type="hidden" asp-for="AppointmentID" value="@ViewBag.AppID"/>
    <button type="submit">Submit</button>
</form>
