@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <h1 class="display-4">Layton Temple Tours</h1>
    </div>
    <br />
    <div>
        <img src="~/Layton-Temple.jpg" style="width: 400px; height: auto" />
    </div>
    <br />
    <div>
        <p>
            General Tour Instructions:
            <br />
            Masks are required.
            Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.
            Dress casual, except on Sunday
            <br /><br />
            Special Accommodations (check the appropriate box when signing up for a tour):
            <br />
            Spanish-speaking tours are available on Thursday, Friday, Saturday or Sunday
             <br /><br />
            Available Tours:
            <br />
            Tour (Outdoor): We have been asked to discontinue outside tours at this time.
            <br />
            Trailer Tour: All tours will be inside the trailer. 
            <br /><br />
            Masks are required
            <br /><br />

            Please call 801-628-4488 or email LaytonTempleTours@gmail.com with questions or special requests.
            <br /> <br />

            Location: Layton Utah Temple
            1500 E Oak Hills Drive, Layton, UT 84040
        </p>
    </div>
    <div>
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Signup">Sign-Up</a>
    </div>
</div>
