@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Layton Temple Tours</h1>
    
    <img src="~/Layton-Temple.jpg" style="width: 400px; height: auto"/>


</div>
