
@{
    ViewData["Title"] = "Sign-Up";
}

<div class="text-center">
    <div>
        <h1 class="display-4">Sign-Up for a Tour!</h1>
        <h5>Available Tours for Sunday, March 21, 2021</h5>
    </div>
    <br />
    <form>
        <input type="button" value="8:00 AM" />
        <br /> <br />
        <input type="button" value="9:00 AM" />
        <br /> <br />
        <input type="button" value="10:00 AM" />
        <br /> <br />
        <input type="button" value="11:00 AM" />
        <br /> <br />
        <input type="button" value="12:00 PM" />
        <br /> <br />
        <input type="button" value="1:00 PM" />
        <br /> <br />
        <input type="button" value="2:00 PM" />
        <br /> <br />
        <input type="button" value="3:00 PM" />
        <br /> <br />
        <input type="button" value="4:00 PM" />
        <br /> <br />
        <input type="button" value="5:00 PM" />
        <br /> <br />
        <input type="button" value="6:00 PM" />
        <br /> <br />
        <input type="button" value="7:00 PM" />
        <br /> <br />
        <input type="button" value="8:00 PM" />
        <br /> <br />

    </form>
</div>

<!-- If we want a dropdown menu for each date 
<div>
    <label asp-for="Time">Available Time: </label>
        <select asp-for="Time" required>
            <option value="">Select One</option>
            <option value="8AM">8:00 AM</option>
            <option value="9AM">9:00 AM</option>
            <option value="10AM">10:00 AM</option>
            <option value="11AM">11:00 AM</option>
            <option value="12PM">12:00 PM</option>
            <option value="1PM">1:00 PM</option>
            <option value="2PM">2:00 PM</option>
            <option value="3PM">3:00 PM</option>
            <option value="4PM">4:00 PM</option>
            <option value="5PM">5:00 PM</option>
            <option value="6PM">6:00 PM</option>
            <option value="7PM">7:00 PM</option>
            <option value="8PM">8:00 PM</option>
        </select>

    <button type="submit">Submit The Movie</button>
</div>
-->
