
@{
    ViewData["Title"] = "Sign-Up";
}

@model AppointmentsListViewModel

<div class="text-center">
    <div>
        <h1 class="display-4">Sign-Up for a Tour!</h1>
    </div>

    <table class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>
                    Day
                </th>
                <th>
                    Time
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var x in Model.appointments)
            {
                
                <tr>
                    <td>
                        @x.Day
                    </td>
                    <td>
                        <partial name="AppFormButton" model="x" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
