@{
    ViewData["Title"] = "View Appointments";
}

<div class="text-center">
    <h1 class="display-4">Appointments</h1>

    <p>not sure how these will eventually display at the moment.</p>
    <p>most likey use a for each loop to go through everything we have in the database. If we want to get real spicy we could paginate it and potentially even do a filter funtion to narrow down the data range</p>

</div>
