@{
    ViewData["Title"] = "View Appointments";
}

<div class="text-center">
    <div>
        <h1 class="display-4">Appointments</h1>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Day</th><th>Time</th><th>Appointments</th>
            </tr>
        </thead>
        <tbody>
        @* loops through appointments to show only booked appointments. *@    
            @foreach (var x in ViewBag.results)
            {
                <tr>
                    <td>@x.Day</td><td>@x.Hour @x.AmPm</td><td>@x.Name</td>
                </tr>
            }
        </tbody>
    </table>
</div>
